#main{
	@include transition-property(opacity);
	@include transition-duration(.4s);

	&.loading{
		@include opacity(0);
	}
	article{
		@include container;
		margin-top: 4em;

		img{
			width:100%;
			@include image-style;
		}
		
		.format-image-and-text .text, 
		.format-image-and-text .image {

			@include breakpoint($m) {
				float: left;
				width: 49%;
				margin-right:1.5%;
				min-height: 307px;

				&:last-child{
					margin-right:0px;
				}
			}
		}
		.format-image-gallery .full,
		.format-video-gallery .full{
  			//text-align: center;
  			img{
				width: 100%;
				height: auto;
  			}
			@include breakpoint($m) {
				float: left;
				width: 69%;
				margin-right:1.5%;
			}
		}
		.format-image-gallery .thumbnails,
		.format-video-gallery .thumbnails{
			@include breakpoint($m) {
				float: left;
				width: 29%;
			}
		}
		.format-image-and-text .text{
			@include opacity(0);
			&.inited{
				@include opacity(1);
			}
			max-width: 450px;
			margin-top: 1em;
			
			&:focus, *:focus {
				outline: 0;
			}

			@include breakpoint($m) {
				max-width: none;
				margin-top: 0;
			}

		}
		.format-image-gallery,
		.format-video-gallery{
			.thumbnails{

				img{
					width: 21%;
					float: left;
					
					margin: 4% 4% 0 0;
				}
				
				li{
					&:nth-child(4n+1){
						clear:both;
					}
					&:last-child{
						img{
							margin-right:0;		
						}
					}
				}

				@include breakpoint($m) {
					img{
						width: 46%;
						float: left;
						margin: 0 0 4% 4%;

					}
					li:nth-child(2n+1){
						clear:both;
					}
				}

			}
		}
		.entry-content{
			font-size: .8em;
			margin: 0 0 1.714285714rem;
			line-height: 1.714285714;
		}
		.urls{
			@include micro-clearfix;
			li{
				float:left;
				margin-right: 10px;
			}
		}
	}
}

